*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: sans-serif;
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    padding: 2.5em;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: rgb(222, 158, 158);
    font-size: 13px;
    text-transform: uppercase;
}
.blocks-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#blocksss{
    background-color: #131313;
    width: 105vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    z-index: 10000;
    cursor:crosshair;
}
.block{
    width: 50px;
    height: 50px;
    border: 0.5px solid rgba(255, 255, 255, 0);
    transition: border-color 0.3s ease;
}
.highlight{
    /* border-color: #ecfb1d9c; */
    border-color: rgba(218, 78, 23, 0.879);
}
.content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em;
    z-index: 2;
    pointer-events: none;
}
.images{
    width: 60%;
    margin: 10em auto;
    display: flex;
    gap: 10em;
}
.col{
    flex: 1;
}
.col:nth-child(2){
    margin-top: 15em;
}
.img{
    width: 100%;
    height: 300px;
    border: 1px solid #c5b6af;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    margin-bottom: 10em;
    position: relative;
}
@media screen and (max-width:400px) {
    #blocksss{
        width: 100vw;
        height: 100vh;
    }
    .images{
        width: 100%;
        margin: 10em auto;
        display: flex;
        gap: 6em;
    }
    .col:nth-child(2){
        margin-top: 5em;
    }
    .img{
        width: 100px;
        height: 100px;
        border: 1px solid #c5b6af;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding: 2px;
        margin-bottom: 7em;
        position: relative;
    }
}