@font-face {
    font-family: 'myfont';
    src: url('/Heading-Now-Variable.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
button{
    border: none;
}
#navbar{
    width: 100%;
    height: 90px;
    /* background-color: black; */
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=600);
    color: white;
    position: static;
    padding: 0 60px;
}
#nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#item{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: 900;
    font-family: serif;
}
.btn{
    border-radius: 10px;
    padding: .8rem 1rem;
    font-size: 14px;
    font-weight: 900;

}
#border{
    border-bottom: 1px solid white;
    padding: 0 60px;
}
.heading{
    font-family: myfont;
    font-weight: 999;
    font-stretch: 250%;
    font-size: 4rem;
}
#loader{
    width: 100%;
    height: 100vh;
    /* background: rgb(155, 26, 82); */
    background: radial-gradient(circle, rgb(172, 160, 165) 0%, rgb(149, 144, 146) 0%, rgba(0,0,0,1) 100%); 
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader h1{
    font-family: sans-serif;
    font-size: 7rem;
    font-weight:800 ;

}
#page1{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=600);
    overflow: hidden;
}
#page1 h1{
    font-size: 30vw;
    padding: 0 20px;
    color: white;
    font-family: 'myfont';
    text-transform: uppercase;
    font-weight: 999;
    font-stretch: 300%;
    white-space: nowrap;
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(83, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: black;
}
#page2 .box{
    width: 200px;
    height: 300px;
    background-color: green;
}