
body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Bebas Neue';
}

h1 {
    font-size: 13em;
    cursor:pointer;
    line-height: 0;
}


.cursor, .hand {
    position: fixed;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: transform .1s;
}

.cursor {
    background: black;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.hand {
    background: rgb(155,0,255);
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: 9999;
    display: grid;
    place-content: center;
    transform: rotate(45deg);
    opacity: 0;

    svg {
        width: 80px;
    }
}