/** @format */
* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #fff;
    color: #393939;
    font-family: "Acid Grotesk";
  }
  ::-webkit-scrollbar {
    display: none;
  }
  span {
    display: block;
    overflow: hidden;
  }
  .banner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -10;
    transform: translate(-50%, -50%);
  }
  .banner .bannerImg {
    object-fit: contain;
    height: 50vh;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  .projects-section {
    position: relative;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
  }
  .projects > .project {
    display: flex;
    padding: 12px 20px;
    gap: 0px 10px;
    cursor: pointer;
    justify-content: flex-end;
  }
  .project h1 {
    font-size: 192px;
    line-height: 124px;
    font-weight: 400;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }
  .project > img {
    height: 138px;
    align-self: center;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
  }
  
  .project span p {
    text-transform: uppercase;
    font-size: 16px;
    width: 0px;
    transition: width 0.5s;
  }
  
  .project:hover h1 {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .project:hover > img {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
  .project:hover span p {
    width: 100px;
    transition: width 0.5s;
  }
  .project:hover .banner .bannerImg {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }