*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Times New Roman', Times, serif;
}
.wrappper{
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.5s ease;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a,p{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s color;
}
h1{
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.5s color;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em;
    z-index: 2;
}
.conatiner{
    width: 100%;
    height: 100%;
    padding: 5em 2.5em;
}
.gallery{
    position: relative;
    width: 100%;
    display: flex;
    z-index: 0;
}
.minimap{
    position: sticky;
    top: 0;
    width: 25%;
    height: 100vh;
    padding-top: 300px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}
.active-img-indicator{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 125px;
    border: 1.5px solid white;
    border-radius: 4px;
    mix-blend-mode: difference;
    z-index: 2;
}
.preview{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-preview{
    position: relative;
    width: 100px;
    height: 125px;
    padding: 10px;
    overflow: hidden;
}
.images{
    position: relative;
    top: 0;
    width: 75%;
}
.item{
    position: relative;
    width: 450px;
    height: 600px;
    overflow: hidden;
    margin: 50px auto;
}
.item-img{
    width: 500px;
    height: 550px;
}
.item-copy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    text-transform: uppercase;
}
.hero-img{
    margin-bottom: 2em;
}
/* .wrappper.light-theme,
.wrappper.light-theme .minimap{
    background-color:rgb(224, 138, 138);
} */
.wrappper.light-theme a,
.wrappper.light-theme p,
.wrappper.light-theme h1{
    color: rgb(0, 0, 0);
}
@media screen and (max-width:900px) {
    .item{
        width: 400px;
        height: 500px;
    }
}